{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} Post {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить данную новость?</h2>
<table>
    <thead>
        <tr>
            <td>
                Заголовок
            </td>
            <td>
                Дата публикации
            </td>
            <td>
                Категория
            </td>
            <td>
                Текст
            </td>
        </tr>
    </thead>

    <tr>
        <td>
            {{ post.title|censor }}
        </td>
        <td>
            {{ post.dateCreation|date:'d-M-Y H:m' }}
        </td>
        <td>
            {{ post.categoryType }}
        </td>
        <td>
            {{ post.text|censor }}
        </td>
    </tr>
</table>

<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>

{% endblock content %}